@page "/build"
@inject IBananaService BananaSercice
@inject IUnitService UnitService
@inject IToastService ToastService
@attribute [Authorize]

<h3>Build</h3>
<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in UnitService.Units)
        {
    <option value="@unit.UnitId">@unit.Title // @unit.BananaCost</option>
        }
    </select>
</div>
<button class="btn btn-primary" @onclick="BuildUnit">Build Unit</button>
@if (needMoreBananas)
{
    <div class="validation-message">
        Not Enought Bananas!
    </div>
}
@code {
    int selectedUnitId = 1;
    bool needMoreBananas = false;

    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
    }

    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.UnitId == selectedUnitId);
        if(BananaSercice.Bananas < selectedUnit.BananaCost)
        {
            needMoreBananas = true;
            ToastService.ShowError("Not Enought Bananas!!", "<(0_0)>");
            return;
        }
        needMoreBananas = false;
        BananaSercice.EatBananas(selectedUnit.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }
}
