@inject IBananaService BananaService
@implements IDisposable
<div class="top-menu">
    <span class="popover-header">
        <img src="icons/banana.png" />
        @BananaService.Bananas
    </span>
    <AddBananas />
</div>

@code {

    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BananaService.OnChange += StateHasChanged;
    }

}
